werkzeug==3.0.3
Flask==3.0.3
flask_sqlalchemy
python-dotenv==1.0.1
flask_login
flask_wtf
WTForms==3.1.2
email_validator==2.1.1
pyotp
flask-qrcode
MarkupSafe==2.1.5
cryptography==42.0.7
bcrypt
rsa
Flask-Talisman
requests
bs4
flask_paginate
pydub
pyzbar
opencv-python